#center{
    background-color: #0aeded9c;
    padding-top: 50px;
    margin-left: 34%;
    border: 10px solid black;
    border-radius: 100px;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.forgotpassworddiv{
    padding-top: 130px;
}
a {
    color: black;
}