.outerdiv{
    background-color: #98dddaf2;
    min-height: 625px;
}
.msgHeader{
width: 100%;
height: 40px;
border-radius: 100px;
background-color: blue;
}
#msg-reciver{
    padding-left: 40%;
    font-size: large;
    font-weight: bold;
    position: fixed;
}

#send-block{
    position:fixed;
    top:580px;
    width: 1000px;
}
#sendbox{
    border-radius: 100px;
    width: 960px;
    height: 40px;
}
#sendbtn{
    float: right;
}

.friendList{
    float: left;
    width: 25%;
    overflow-y: scroll;
    display: flex;
}
#ourId{
    background-color: blue;
}
/* #plus{
    margin-top: 500px;
    margin-left: 200px;
} */

.msg{
    font-size: large;
    font-weight: bold;
    padding: 0px 10px;
    max-width: fit-content;
    height: fit-content;
    list-style: none;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ourmsg{
margin-left: auto;    
background-color: blue;
color: white;
}
#friendmsg{
margin-right: auto;
background-color: #9b9bbd;
color: black;
}

.AddNewFriend{
    background-color: white;
    justify-content: center;
    z-index: 1;
    display: flex;
}