#userId{
    margin-left: 20px ;
    border-radius: 20px;
}
#password{
    margin-left: 14px;
    margin-bottom: 1%;
    border-radius: 20px;

}
.logindiv{
    padding-top: 150px;
}
#Btn{
    border-radius: 100px;
    background-color: #0aeded9c;
    border-color: #0aeded9c;
    color: #e71212;
    font-weight: bold;
    font-size: large;
    width: 100px;
    height: 50px;
}
.LoginButton{
    text-align: center;
    padding-top: 20px;
    padding-left: 40px;
}

.centre{
    background-color: #0aeded9c;
    padding-top: 50px;
    margin-left: 34%;
    border: 10px solid black;
    border-radius: 100px;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.lowerPortion{
    text-align: center;
    padding-top: 30px;
    color: solid black;
    font-size: large;
}